In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

# 初始化Series、初始化DataFrame

In [2]:
df = pd.Series([1,2,3,4])

In [3]:
df

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
df = pd.Series([1,2,3,4], index=['a','b','c','d'])

In [5]:
df

a    1
b    2
c    3
d    4
dtype: int64

In [6]:
df.index

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [7]:
df.values

array([1, 2, 3, 4])

In [8]:
data = {"hello":'hi','name':'jupiter','age':'18'}

In [9]:
df = pd.Series(data)

In [10]:
df

age           18
hello         hi
name     jupiter
dtype: object

In [11]:
df['age']

'18'

In [12]:
df[['age', 'name']]

age          18
name    jupiter
dtype: object

In [13]:
data = {
    'name':['jupiter','minning','tom','cat'],
    'age':[18,20,22,34],
    'height':[180,170,160,150]
}

In [15]:
df = pd.DataFrame(data)

In [16]:
df

   age  height     name
0   18     180  jupiter
1   20     170  minning
2   22     160      tom
3   34     150      cat

In [18]:
df.dtypes

age        int64
height     int64
name      object
dtype: object

# 获取dataFrame的列名

In [19]:
df.columns

Index([u'age', u'height', u'name'], dtype='object')

# 筛选dataFrame的行

In [21]:
df.loc[1]

age            20
height        170
name      minning
Name: 1, dtype: object

In [22]:
df.loc[1:3]

   age  height     name
1   20     170  minning
2   22     160      tom
3   34     150      cat

# pandas读取文件

In [36]:
data_path = 'datas/beijing_tianqi/beijing_tianqi_2018.csv'
df = pd.read_csv(data_path)
df

          ymd bwendu ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
0  2018-01-01     3C    -6C     多云       东北风   1-2级   59       良         2
1  2018-01-02     4C    -6C     多云       东北风   3-4级   60       良         2
2  2018-01-03     5C    -6C     多云       东北风   5-6级   61       良         2
3  2018-01-04     4C    -6C     多云       东北风   1-2级   59       良         2
4  2018-01-05     7C    -6C     多云       东北风   3-4级   60       良         2
5  2018-01-05     5C    -6C     多云       东北风   5-6级   61       良         2
6  2018-01-07     5C    -6C     多云       东北风   1-2级   59       良         2
7  2018-01-08     4C    -6C     多云       东北风   3-4级   60       良         2
8  2018-01-09     6C    -6C     多云       东北风   5-6级   61       良         2

# pandas设置索引列

In [37]:
df.set_index("ymd",inplace=True)

In [38]:
df.head()

           bwendu ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
ymd
2018-01-01     3C    -6C     多云       东北风   1-2级   59       良         2
2018-01-02     4C    -6C     多云       东北风   3-4级   60       良         2
2018-01-03     5C    -6C     多云       东北风   5-6级   61       良         2
2018-01-04     4C    -6C     多云       东北风   1-2级   59       良         2
2018-01-05     7C    -6C     多云       东北风   3-4级   60       良         2

# 字符串替换

In [39]:
df.loc[:,"bwendu"] = df['bwendu'].str.replace('C',"").astype('int32')
df.loc[:,"ywendu"] = df['ywendu'].str.replace('C',"").astype('int32')

In [40]:
df

            bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
ymd
2018-01-01       3      -6     多云       东北风   1-2级   59       良         2
2018-01-02       4      -6     多云       东北风   3-4级   60       良         2
2018-01-03       5      -6     多云       东北风   5-6级   61       良         2
2018-01-04       4      -6     多云       东北风   1-2级   59       良         2
2018-01-05       7      -6     多云       东北风   3-4级   60       良         2
2018-01-05       5      -6     多云       东北风   5-6级   61       良         2
2018-01-07       5      -6     多云       东北风   1-2级   59       良         2
2018-01-08       4      -6     多云       东北风   3-4级   60       良         2
2018-01-09       6      -6     多云       东北风   5-6级   61       良         2

In [41]:
df['fengli'] = df['fengli'].map(lambda x:x.replace('级',''))

In [42]:
df

            bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
ymd
2018-01-01       3      -6     多云       东北风    1-2   59       良         2
2018-01-02       4      -6     多云       东北风    3-4   60       良         2
2018-01-03       5      -6     多云       东北风    5-6   61       良         2
2018-01-04       4      -6     多云       东北风    1-2   59       良         2
2018-01-05       7      -6     多云       东北风    3-4   60       良         2
2018-01-05       5      -6     多云       东北风    5-6   61       良         2
2018-01-07       5      -6     多云       东北风    1-2   59       良         2
2018-01-08       4      -6     多云       东北风    3-4   60       良         2
2018-01-09       6      -6     多云       东北风    5-6   61       良         2

# pandas筛选行、筛选列元素

In [43]:
df.loc['2018-01-02','bwendu']

4

In [44]:
df.loc['2018-01-02',['bwendu','ywendu']]

bwendu     4
ywendu    -6
Name: 2018-01-02, dtype: object

In [45]:
df.loc['2018-01-01':'2018-01-03','bwendu']

ymd
2018-01-01    3
2018-01-02    4
2018-01-03    5
Name: bwendu, dtype: int32

In [46]:
df.loc[df['bwendu']>=4,:]

            bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
ymd
2018-01-02       4      -6     多云       东北风    3-4   60       良         2
2018-01-03       5      -6     多云       东北风    5-6   61       良         2
2018-01-04       4      -6     多云       东北风    1-2   59       良         2
2018-01-05       7      -6     多云       东北风    3-4   60       良         2
2018-01-05       5      -6     多云       东北风    5-6   61       良         2
2018-01-07       5      -6     多云       东北风    1-2   59       良         2
2018-01-08       4      -6     多云       东北风    3-4   60       良         2
2018-01-09       6      -6     多云       东北风    5-6   61       良         2

In [47]:
df.loc[(df['bwendu']>=4) & (df['aqi']==61) ,:]

            bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
ymd
2018-01-03       5      -6     多云       东北风    5-6   61       良         2
2018-01-05       5      -6     多云       东北风    5-6   61       良         2
2018-01-09       6      -6     多云       东北风    5-6   61       良         2

In [48]:
def my_own_query(df):
    return (df['bwendu']>=4) & (df['aqi']==60)
df.loc[my_own_query, :]

            bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
ymd
2018-01-02       4      -6     多云       东北风    3-4   60       良         2
2018-01-05       7      -6     多云       东北风    3-4   60       良         2
2018-01-08       4      -6     多云       东北风    3-4   60       良         2

# pandas 新建列

In [49]:
df.loc[:,'wencha'] = df['bwendu'] - df['ywendu']

In [51]:
df.head()

,bwendu,ywendu,tianqi,fengxiang,fengli,aqi,aqiinfo,aqiLevel,wencha
ymd,,,,,,,,,
2018-01-01,3,-6,多云,东北风,1-2,59,良,2,9
2018-01-02,4,-6,多云,东北风,3-4,60,良,2,10
2018-01-03,5,-6,多云,东北风,5-6,61,良,2,11
2018-01-04,4,-6,多云,东北风,1-2,59,良,2,10
2018-01-05,7,-6,多云,东北风,3-4,60,良,2,13

In [52]:
df['wencha2'] = df['bwendu'] - df['ywendu']

In [53]:
df.head()

,bwendu,ywendu,tianqi,fengxiang,fengli,aqi,aqiinfo,aqiLevel,wencha,wencha2
ymd,,,,,,,,,,
2018-01-01,3,-6,多云,东北风,1-2,59,良,2,9,9
2018-01-02,4,-6,多云,东北风,3-4,60,良,2,10,10
2018-01-03,5,-6,多云,东北风,5-6,61,良,2,11,11
2018-01-04,4,-6,多云,东北风,1-2,59,良,2,10,10
2018-01-05,7,-6,多云,东北风,3-4,60,良,2,13,13

In [55]:
def get_wendu_type(x):
    if x['bwendu'] >=4:
        return 'high temp'
    if x['ywendu'] <=-6:
        return 'low temp'
    return 'normal temp'
df['wendu_type'] = df.apply(get_wendu_type, axis=1)

In [56]:
df.head()

,bwendu,ywendu,tianqi,fengxiang,fengli,aqi,aqiinfo,aqiLevel,wencha,wencha2,wendu_type
ymd,,,,,,,,,,,
2018-01-01,3,-6,多云,东北风,1-2,59,良,2,9,9,low temp
2018-01-02,4,-6,多云,东北风,3-4,60,良,2,10,10,high temp
2018-01-03,5,-6,多云,东北风,5-6,61,良,2,11,11,high temp
2018-01-04,4,-6,多云,东北风,1-2,59,良,2,10,10,high temp
2018-01-05,7,-6,多云,东北风,3-4,60,良,2,13,13,high temp

# pandas统计值元素的个数

In [57]:
df['wendu_type'].value_counts()

high temp    8
low temp     1
Name: wendu_type, dtype: int64

# pandas同时赋值多个元素

In [58]:
df.assign(
    ywendu_huashi = lambda x:x['ywendu'] * 9 + 2,
    bwendu_huashi = lambda x:x['bwendu'] * 9 + 2
)

,bwendu,ywendu,tianqi,fengxiang,fengli,aqi,aqiinfo,aqiLevel,wencha,wencha2,wendu_type,bwendu_huashi,ywendu_huashi
ymd,,,,,,,,,,,,,
2018-01-01,3,-6,多云,东北风,1-2,59,良,2,9,9,low temp,29,-52
2018-01-02,4,-6,多云,东北风,3-4,60,良,2,10,10,high temp,38,-52
2018-01-03,5,-6,多云,东北风,5-6,61,良,2,11,11,high temp,47,-52
2018-01-04,4,-6,多云,东北风,1-2,59,良,2,10,10,high temp,38,-52
2018-01-05,7,-6,多云,东北风,3-4,60,良,2,13,13,high temp,65,-52
2018-01-05,5,-6,多云,东北风,5-6,61,良,2,11,11,high temp,47,-52
2018-01-07,5,-6,多云,东北风,1-2,59,良,2,11,11,high temp,47,-52
2018-01-08,4,-6,多云,东北风,3-4,60,良,2,10,10,high temp,38,-52
2018-01-09,6,-6,多云,东北风,5-6,61,良,2,12,12,high temp,56,-52

In [59]:
df['wencha_type2'] = '温差正常'
df.loc[df['bwendu']-df['ywendu']>=11, 'wencha_type2'] = '温差大'
df.loc[df['bwendu']-df['ywendu']<=9, 'wencha_type2'] = '温差小'

In [60]:
df.head()

,bwendu,ywendu,tianqi,fengxiang,fengli,aqi,aqiinfo,aqiLevel,wencha,wencha2,wendu_type,wencha_type2
ymd,,,,,,,,,,,,
2018-01-01,3,-6,多云,东北风,1-2,59,良,2,9,9,low temp,温差小
2018-01-02,4,-6,多云,东北风,3-4,60,良,2,10,10,high temp,温差正常
2018-01-03,5,-6,多云,东北风,5-6,61,良,2,11,11,high temp,温差大
2018-01-04,4,-6,多云,东北风,1-2,59,良,2,10,10,high temp,温差正常
2018-01-05,7,-6,多云,东北风,3-4,60,良,2,13,13,high temp,温差大

In [61]:
def get_wencha_type3(x):
    if x['bwendu']-x['ywendu']>=11:
        return '温差大'
    if x['bwendu']-x['ywendu']<=9:
        return '温差小'
    return '温差正常'
df['wencha_type3'] = df.apply(get_wencha_type3, axis=1)

In [62]:
df.head()

,bwendu,ywendu,tianqi,fengxiang,fengli,aqi,aqiinfo,aqiLevel,wencha,wencha2,wendu_type,wencha_type2,wencha_type3
ymd,,,,,,,,,,,,,
2018-01-01,3,-6,多云,东北风,1-2,59,良,2,9,9,low temp,温差小,温差小
2018-01-02,4,-6,多云,东北风,3-4,60,良,2,10,10,high temp,温差正常,温差正常
2018-01-03,5,-6,多云,东北风,5-6,61,良,2,11,11,high temp,温差大,温差大
2018-01-04,4,-6,多云,东北风,1-2,59,良,2,10,10,high temp,温差正常,温差正常
2018-01-05,7,-6,多云,东北风,3-4,60,良,2,13,13,high temp,温差大,温差大

https://github.com/minning/pandas_tutorial/blob/master/03%E3%80%81pandas%E6%96%B0%E5%A2%9E%E6%95%B0%E6%8D%AE%E5%88%97.ipynb

# pandas数据统计（describe、mean、max、min、unique、value_counts）

In [63]:
df.describe()

         bwendu  ywendu        aqi  aqiLevel     wencha    wencha2
count  9.000000     9.0   9.000000       9.0   9.000000   9.000000
mean   4.777778    -6.0  60.000000       2.0  10.777778  10.777778
std    1.201850     0.0   0.866025       0.0   1.201850   1.201850
min    3.000000    -6.0  59.000000       2.0   9.000000   9.000000
25%    4.000000    -6.0  59.000000       2.0  10.000000  10.000000
50%    5.000000    -6.0  60.000000       2.0  11.000000  11.000000
75%    5.000000    -6.0  61.000000       2.0  11.000000  11.000000
max    7.000000    -6.0  61.000000       2.0  13.000000  13.000000

In [64]:
df.mean()

bwendu       4.777778
ywendu      -6.000000
aqi         60.000000
aqiLevel     2.000000
wencha      10.777778
wencha2     10.777778
dtype: float64

In [66]:
df['bwendu'].max()

7

In [67]:
df['bwendu'].value_counts()

5    3
4    3
7    1
6    1
3    1
Name: bwendu, dtype: int64

# cov 协方差矩阵、corr相关性

In [68]:
df.cov() #协方差矩阵

            bwendu  ywendu   aqi  aqiLevel    wencha   wencha2
bwendu    1.444444     0.0  0.50       0.0  1.444444  1.444444
ywendu    0.000000     0.0  0.00       0.0  0.000000  0.000000
aqi       0.500000     0.0  0.75       0.0  0.500000  0.500000
aqiLevel  0.000000     0.0  0.00       0.0  0.000000  0.000000
wencha    1.444444     0.0  0.50       0.0  1.444444  1.444444
wencha2   1.444444     0.0  0.50       0.0  1.444444  1.444444

In [69]:
df.corr()

            bwendu  ywendu       aqi  aqiLevel    wencha   wencha2
bwendu    1.000000     NaN  0.480384       NaN  1.000000  1.000000
ywendu         NaN     NaN       NaN       NaN       NaN       NaN
aqi       0.480384     NaN  1.000000       NaN  0.480384  0.480384
aqiLevel       NaN     NaN       NaN       NaN       NaN       NaN
wencha    1.000000     NaN  0.480384       NaN  1.000000  1.000000
wencha2   1.000000     NaN  0.480384       NaN  1.000000  1.000000

In [70]:
df['bwendu'].corr(df['aqi'])

0.4803844614152615

In [71]:
df['bwendu'].corr(df['bwendu']-df['ywendu'])

0.9999999999999998

https://github.com/minning/pandas_tutorial/blob/master/04%E3%80%81pandas%E6%95%B0%E6%8D%AE%E7%BB%9F%E8%AE%A1%E5%87%BD%E6%95%B0.ipynb

# pandas缺失值处理

In [72]:
data_path = 'datas/student_excel/student_excel.xlsx'
df = pd.read_excel(data_path,skiprows=2)
df

    Unnamed: 0     name subject  score
0          NaN  jupiter      语文   80.0
1          NaN      NaN      数学   90.0
2          NaN      NaN      英语  100.0
3          NaN      NaN     NaN    NaN
4          NaN      tom      语文  100.0
5          NaN      NaN      数学    NaN
6          NaN      NaN      英语   80.0
7          NaN      NaN     NaN    NaN
8          NaN     jack      语文  100.0
9          NaN      NaN      数学   90.0
10         NaN      NaN      英语   80.0

In [73]:
df.isnull()

    Unnamed: 0   name  subject  score
0         True  False    False  False
1         True   True    False  False
2         True   True    False  False
3         True   True     True   True
4         True  False    False  False
5         True   True    False   True
6         True   True    False  False
7         True   True     True   True
8         True  False    False  False
9         True   True    False  False
10        True   True    False  False

In [74]:
df.notnull()

    Unnamed: 0   name  subject  score
0        False   True     True   True
1        False  False     True   True
2        False  False     True   True
3        False  False    False  False
4        False   True     True   True
5        False  False     True  False
6        False  False     True   True
7        False  False    False  False
8        False   True     True   True
9        False  False     True   True
10       False  False     True   True

In [75]:
df.loc[df['score'].notnull(), :]

    Unnamed: 0     name subject  score
0          NaN  jupiter      语文   80.0
1          NaN      NaN      数学   90.0
2          NaN      NaN      英语  100.0
4          NaN      tom      语文  100.0
6          NaN      NaN      英语   80.0
8          NaN     jack      语文  100.0
9          NaN      NaN      数学   90.0
10         NaN      NaN      英语   80.0

In [76]:
# 删除全是空的列
df.dropna(axis='columns', how='all', inplace=True)

In [77]:
df

       name subject  score
0   jupiter      语文   80.0
1       NaN      数学   90.0
2       NaN      英语  100.0
3       NaN     NaN    NaN
4       tom      语文  100.0
5       NaN      数学    NaN
6       NaN      英语   80.0
7       NaN     NaN    NaN
8      jack      语文  100.0
9       NaN      数学   90.0
10      NaN      英语   80.0

In [ ]:
# 删除全是空的行
df.dropna(axis='index',how='all',inplace=True)

In [78]:
df

       name subject  score
0   jupiter      语文   80.0
1       NaN      数学   90.0
2       NaN      英语  100.0
3       NaN     NaN    NaN
4       tom      语文  100.0
5       NaN      数学    NaN
6       NaN      英语   80.0
7       NaN     NaN    NaN
8      jack      语文  100.0
9       NaN      数学   90.0
10      NaN      英语   80.0

In [79]:
df.fillna({'score':0})

       name subject  score
0   jupiter      语文   80.0
1       NaN      数学   90.0
2       NaN      英语  100.0
3       NaN     NaN    0.0
4       tom      语文  100.0
5       NaN      数学    0.0
6       NaN      英语   80.0
7       NaN     NaN    0.0
8      jack      语文  100.0
9       NaN      数学   90.0
10      NaN      英语   80.0

In [80]:
df.loc[:,'score'] = df['score'].fillna(0)

In [81]:
df.loc[:,'name'] = df['name'].fillna(method='ffill')
# ffill forward fill,按照前一个填充
# bfill back fill,按照后一个填充

# pandas保存文件到excel

In [82]:
df.to_excel('datas/student_excel/student_excel_clean.xlsx', index=False)

https://github.com/minning/pandas_tutorial/blob/master/05%E3%80%81pandas%E5%AF%B9%E7%BC%BA%E5%A4%B1%E5%80%BC%E5%A4%84%E7%90%86.ipynb

In [83]:
data_path = 'datas/beijing_tianqi/beijing_tianqi_2018.csv'
df = pd.read_csv(data_path)

In [84]:
df.loc[:,'bwendu'] = df['bwendu'].str.replace('C', '').astype('int32')
df.loc[:,'ywendu'] = df['ywendu'].str.replace('C', '').astype('int32')

# pandas按照某列的值排序

In [85]:
df.sort_values(by='bwendu',ascending=False)

          ymd  bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
4  2018-01-05       7      -6     多云       东北风   3-4级   60       良         2
8  2018-01-09       6      -6     多云       东北风   5-6级   61       良         2
2  2018-01-03       5      -6     多云       东北风   5-6级   61       良         2
5  2018-01-05       5      -6     多云       东北风   5-6级   61       良         2
6  2018-01-07       5      -6     多云       东北风   1-2级   59       良         2
1  2018-01-02       4      -6     多云       东北风   3-4级   60       良         2
3  2018-01-04       4      -6     多云       东北风   1-2级   59       良         2
7  2018-01-08       4      -6     多云       东北风   3-4级   60       良         2
0  2018-01-01       3      -6     多云       东北风   1-2级   59       良         2

In [ ]:
df.sort_values(by=['bwendu','aqi'])

In [ ]:
df.sort_values(by=['bwendu','aqi'],ascending=False)

In [ ]:
df.sort_values(by=['bwendu','aqi'],ascending=[False, True])

https://github.com/minning/pandas_tutorial/blob/master/06%E3%80%81pandas%E6%95%B0%E6%8D%AE%E6%8E%92%E5%BA%8F.ipynb

# pandas字符串处理

In [ ]:
df['ymd'].str.replace('-', '')

In [ ]:
df['ymd'].str[:6]

In [ ]:
df['ymd'].str.slice(0,6)

In [87]:
def get_year_month_day(x):
    year, month, day = x['ymd'].split('-')
    return "{}年{}月{}日".format(year, month, day)
df.apply(get_year_month_day, axis=1)

0    2018年01月01日
1    2018年01月02日
2    2018年01月03日
3    2018年01月04日
4    2018年01月05日
5    2018年01月05日
6    2018年01月07日
7    2018年01月08日
8    2018年01月09日
dtype: object

In [ ]:
df['chinese_ymd'] = df.apply(get_year_month_day, axis=1)

In [ ]:
df['chinese_ymd'].str.replace('年', '').str.replace('月', '').str.replace('日', '')

In [ ]:
df['chinese_ymd'].str.replace('[年月日]', '')  #正则表达式

https://github.com/minning/pandas_tutorial/blob/master/07%E3%80%81pandas%E5%AD%97%E7%AC%A6%E4%B8%B2%E5%A4%84%E7%90%86.ipynb