In [1]:
import pandas as pd

In [2]:
data_path = 'datas/beijing_tianqi/beijing_tianqi_2018.csv'

In [3]:
df = pd.read_csv(data_path)

In [4]:
df

          ymd bwendu ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
0  2018-01-01     3C    -6C     多云       东北风   1-2级   59       良         2
1  2018-01-02     4C    -6C     多云       东北风   3-4级   60       良         2
2  2018-01-03     5C    -6C     多云       东北风   5-6级   61       良         2

In [5]:
df['bwendu'] = df['bwendu'].str.replace('C','').astype('int32')

In [6]:
df['ywendu'] = df['ywendu'].str.replace('C','').astype('int32')

In [7]:
df

          ymd  bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
0  2018-01-01       3      -6     多云       东北风   1-2级   59       良         2
1  2018-01-02       4      -6     多云       东北风   3-4级   60       良         2
2  2018-01-03       5      -6     多云       东北风   5-6级   61       良         2

In [8]:
df.describe()

       bwendu  ywendu   aqi  aqiLevel
count     3.0     3.0   3.0       3.0
mean      4.0    -6.0  60.0       2.0
std       1.0     0.0   1.0       0.0
min       3.0    -6.0  59.0       2.0
25%       3.5    -6.0  59.5       2.0
50%       4.0    -6.0  60.0       2.0
75%       4.5    -6.0  60.5       2.0
max       5.0    -6.0  61.0       2.0

In [9]:
df['bwendu'].mean()

4.0

In [10]:
df['bwendu'].max()

5

In [11]:
df['fengli'].unique()

array(['1-2\xe7\xba\xa7', '3-4\xe7\xba\xa7', '5-6\xe7\xba\xa7'],
      dtype=object)

In [13]:
df['bwendu'].value_counts()

3    1
5    1
4    1
Name: bwendu, dtype: int64

In [14]:
df.cov() #协方差矩阵

          bwendu  ywendu  aqi  aqiLevel
bwendu       1.0     0.0  1.0       0.0
ywendu       0.0     0.0  0.0       0.0
aqi          1.0     0.0  1.0       0.0
aqiLevel     0.0     0.0  0.0       0.0

In [15]:
df.corr()

          bwendu  ywendu  aqi  aqiLevel
bwendu       1.0     NaN  1.0       NaN
ywendu       NaN     NaN  NaN       NaN
aqi          1.0     NaN  1.0       NaN
aqiLevel     NaN     NaN  NaN       NaN

In [16]:
df['bwendu'].corr(df['aqi'])

1.0

In [17]:
df['bwendu'].corr(df['bwendu']-df['ywendu'])

1.0