In [1]:
import pandas as pd

In [2]:
data_path = 'datas/beijing_tianqi/beijing_tianqi_2018.csv'

In [3]:
df = pd.read_csv(data_path)

In [4]:
df

          ymd bwendu ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
0  2018-01-01     3C    -6C     多云       东北风   1-2级   59       良         2
1  2018-01-02     4C    -6C     多云       东北风   3-4级   60       良         2
2  2018-01-03     5C    -6C     多云       东北风   5-6级   61       良         2

In [5]:
df.loc[:,'bwendu'] = df['bwendu'].str.replace('C', '').astype('int32')

In [6]:
df.loc[:,'ywendu'] = df['ywendu'].str.replace('C', '').astype('int32')

In [7]:
df

          ymd  bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
0  2018-01-01       3      -6     多云       东北风   1-2级   59       良         2
1  2018-01-02       4      -6     多云       东北风   3-4级   60       良         2
2  2018-01-03       5      -6     多云       东北风   5-6级   61       良         2

In [9]:
df['bwendu'].sort_values()

0    3
1    4
2    5
Name: bwendu, dtype: int32

In [11]:
df['bwendu'].sort_values(ascending=False)

2    5
1    4
0    3
Name: bwendu, dtype: int32

In [12]:
df

          ymd  bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
0  2018-01-01       3      -6     多云       东北风   1-2级   59       良         2
1  2018-01-02       4      -6     多云       东北风   3-4级   60       良         2
2  2018-01-03       5      -6     多云       东北风   5-6级   61       良         2

In [15]:
df.sort_values(by='bwendu',ascending=False)

          ymd  bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
2  2018-01-03       5      -6     多云       东北风   5-6级   61       良         2
1  2018-01-02       4      -6     多云       东北风   3-4级   60       良         2
0  2018-01-01       3      -6     多云       东北风   1-2级   59       良         2

In [16]:
df.sort_values(by=['bwendu','aqi'])

          ymd  bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
0  2018-01-01       3      -6     多云       东北风   1-2级   59       良         2
1  2018-01-02       4      -6     多云       东北风   3-4级   60       良         2
2  2018-01-03       5      -6     多云       东北风   5-6级   61       良         2

In [18]:
df.sort_values(by=['bwendu','aqi'],ascending=False)

          ymd  bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
2  2018-01-03       5      -6     多云       东北风   5-6级   61       良         2
1  2018-01-02       4      -6     多云       东北风   3-4级   60       良         2
0  2018-01-01       3      -6     多云       东北风   1-2级   59       良         2

In [19]:
df.sort_values(by=['bwendu','aqi'],ascending=[False, True])

          ymd  bwendu  ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
2  2018-01-03       5      -6     多云       东北风   5-6级   61       良         2
1  2018-01-02       4      -6     多云       东北风   3-4级   60       良         2
0  2018-01-01       3      -6     多云       东北风   1-2级   59       良         2