In [1]:
import pandas as pd

In [2]:
data_path = 'datas/beijing_tianqi/beijing_tianqi_2018.csv'

In [3]:
df = pd.read_csv(data_path)

In [4]:
df

          ymd bwendu ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
0  2018-01-01     3C    -6C     多云       东北风   1-2级   59       良         2
1  2018-01-02     4C    -6C     多云       东北风   3-4级   60       良         2
2  2018-01-03     5C    -6C     多云       东北风   5-6级   61       良         2

In [5]:
df['ymd'].str.replace('-', '')

0    20180101
1    20180102
2    20180103
Name: ymd, dtype: object

In [6]:
df

          ymd bwendu ywendu tianqi fengxiang fengli  aqi aqiinfo  aqiLevel
0  2018-01-01     3C    -6C     多云       东北风   1-2级   59       良         2
1  2018-01-02     4C    -6C     多云       东北风   3-4级   60       良         2
2  2018-01-03     5C    -6C     多云       东北风   5-6级   61       良         2

In [7]:
df['ymd'].str[:6]

0    2018-0
1    2018-0
2    2018-0
Name: ymd, dtype: object

In [8]:
df['ymd'].str.slice(0,6)

0    2018-0
1    2018-0
2    2018-0
Name: ymd, dtype: object

In [9]:
def get_year_month_day(x):
    year, month, day = x['ymd'].split('-')
    return "{}年{}月{}日".format(year, month, day)

In [10]:
df.apply(get_year_month_day, axis=1)

0    2018年01月01日
1    2018年01月02日
2    2018年01月03日
dtype: object

In [11]:
df['chinese_ymd'] = df.apply(get_year_month_day, axis=1)

In [12]:
df

,ymd,bwendu,ywendu,tianqi,fengxiang,fengli,aqi,aqiinfo,aqiLevel,chinese_ymd
0,2018-01-01,3C,-6C,多云,东北风,1-2级,59,良,2,2018年01月01日
1,2018-01-02,4C,-6C,多云,东北风,3-4级,60,良,2,2018年01月02日
2,2018-01-03,5C,-6C,多云,东北风,5-6级,61,良,2,2018年01月03日

In [13]:
df['chinese_ymd'].str.replace('年', '').str.replace('月', '').str.replace('日', '')

0    20180101
1    20180102
2    20180103
Name: chinese_ymd, dtype: object

In [14]:
df['chinese_ymd'].str.replace('[年月日]', '')  #正则表达式

0    20180101
1    20180102
2    20180103
Name: chinese_ymd, dtype: object