In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.arange(12).reshape(3,4), columns=['A','B','C','D'])

In [6]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [7]:
df.set_index('A', inplace=True, drop=False)

In [8]:
df

   A  B   C   D
A
0  0  1   2   3
4  4  5   6   7
8  8  9  10  11

In [13]:
df.loc[4]

A    4
B    5
C    6
D    7
Name: 4, dtype: int64

In [14]:
df[df['A']==4]

   A  B  C  D
A
4  4  5  6  7