In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([1,2,3,4])

In [3]:
s1

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s1.values

array([1, 2, 3, 4])

In [6]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
s2 = pd.Series([1,2,3,4], index=['a','b','c','d'])

In [8]:
s2

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
s2.index

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [10]:
s2.values

array([1, 2, 3, 4])

In [12]:
data = {"hello":'hi','name':'jupiter','age':'18'}

In [13]:
s3 = pd.Series(data)

In [14]:
s3

age           18
hello         hi
name     jupiter
dtype: object

In [15]:
s3['age']

'18'

In [16]:
s1[1]

2

In [17]:
s3[['age','name']]

age          18
name    jupiter
dtype: object

In [20]:
data4 = {
    'name':['jupiter','minning','tom','cat'],
    'age':[18,20,22,34],
    'height':[180,170,160,150]
}

In [21]:
s4 = pd.DataFrame(data4)

In [22]:
s4

   age  height     name
0   18     180  jupiter
1   20     170  minning
2   22     160      tom
3   34     150      cat

In [24]:
s4.dtypes

age        int64
height     int64
name      object
dtype: object

In [25]:
s4.columns

Index([u'age', u'height', u'name'], dtype='object')

In [26]:
s4.index

RangeIndex(start=0, stop=4, step=1)

In [27]:
s4['age']

0    18
1    20
2    22
3    34
Name: age, dtype: int64

In [28]:
s4[['age','name']]

   age     name
0   18  jupiter
1   20  minning
2   22      tom
3   34      cat

In [29]:
s4.loc[1]

age            20
height        170
name      minning
Name: 1, dtype: object

In [30]:
s4.loc[1:2]

   age  height     name
1   20     170  minning
2   22     160      tom